#background{
  width: 1000px;
  border:22px;
  margin:auto;

}

.Container{
  width: 1000px;
 margin: auto;
 border: 22px;
 display: block;

}

figure{
  float: left;
  text-align: center;
  font-family: Oswald;
  font-size: 13px;
  padding: 0px;
  border: 0px;
}

h1{
  font-family: Permanent Marker;
  font-size: 75px;
  text-align: center;
}

h2{
  font-family: Oswald;
  font-size: 25px;
  text-align: center;
}

img.lab{
  display: block;
  margin-right: auto;
  margin-left: inherit;
    margin: 0px 5px;
}

img.dal{
  display: block;
  margin-left: auto;
  margin-right: auto;
    margin: 0px 5px;
}

img.husk{
  display: block;
  margin-left: auto;
  margin-right: inherit;
  margin: 0px 5px;
}

img.ger{
  display: block;
  margin-right: auto;
  margin-left: inherit;
    margin: 0px 5px;
}

img.she{
  display: block;
  margin-left: auto;
  margin-right: auto;
    margin: 0px 5px;
}

img.gol{
  display: block;
  margin-left: auto;
  margin-right: inherit;
  margin: 0px 5px;
}

img.chi{
  display: block;
  margin-right: auto;
  margin-left: inherit;
    margin: 0px 5px;
}

img.rot{
  display: block;
  margin-left: auto;
  margin-right: auto;
    margin: 0px 5px;
}

img.pit{
  display: block;
  margin-left: auto;
  margin-right: inherit;
  margin: 0px 5px;
}

img.shi{
  display: block;
  margin-right: auto;
  margin-left: inherit;
    margin: 0px 5px;
}

img.ter{
  display: block;
  margin-left: auto;
  margin-right: auto;
    margin: 0px 5px;
}

img.gre{
  display: block;
  margin-left: auto;
  margin-right: inherit;
  margin: 0px 5px;  
}
