.background{
  width: 1000px;
  border:22px;
  margin:auto;
}

.Container{
 margin: 0 auto;
 border-radius: 3px;
 display: table;
 margin: 0 auto;
}

figure{
  float: left;
  text-align: center;
  font-family: Oswald;
  padding: 0px;
  border: 0px;
}
